* {
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
}

body {
font-family: Georgia, 'Times New Roman', Times, serif;
background-color: #f59274;
line-height: 1.5;
}

p {
font-size: 25px;
margin: 30px;
padding: 10px;
}

/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #868282;
    padding: 0 6% 0 3%;
}

header h1 {
    
    font-size: 50px;
    background-color: #fa3b01;
    color: #000;
    border-radius: 3px;
    margin: 12px 0;
    text-align: left;
}

nav {
    display: flex;
    align-items: center;  
    flex-wrap: wrap;  
    
}

nav  li {
    display: inline;
    border-bottom: 5px solid #fa3b01;
    border-spacing: 100px 0;
    padding-bottom: 6px;
    
}

nav a {
    padding: 13px;
    text-decoration: none;
    color: #000;
    font-size: 27px;
    
}

nav a:hover {
    color: #fff;
    background-color: #fa3b01;
    border-radius: 3px;
    
}

nav a:active {
    color: #fa3b01;
    background-color: #fff;
    border-radius: 3px;
    
}

/* Hero Section */
.hero-banner {
    padding: 83px;
    background-image: url(../images/anas-alshanti-feXpdV001o4-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

/* About Me Section */
.profile img {
    width: 177px;
    height: 206px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
} 

.container h2 {
    width: 20%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    align-self: center;
    font-size: 50px;
    color: #000;   
}

.right {
    display: flex;
    width: 70%;
    padding: 20px;
    margin: 10px;
    border-left: 5px solid black
}


/* Work Section */
.content {
    flex: 5;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.box {
    border-style: solid;
    border-radius: 33px;
    flex: 0 0 300px;
    border-width: 1px;
    padding: 10px;
    margin: 20px;
    box-shadow: 10px 10px 5px #1414ee;
}

.box h3 {
    border-radius: 33px 33px 0px 0px;
    padding: 20px;
    background-color: #868282;

}

.box a img {
    width: 100%;
    height: 100%;
}

/* Contact Me Section */
.right ul {
    list-style-type: none;
    align-self: center;
}

.right ul li a {
    color: #000;
    text-decoration: none;
    border-bottom: 5px solid #1414ee;
    font-size: 27px;
}

.right ul li a:hover {
    color: #fa3b01;
    background-color: #fff;
    border-radius: 3px;
}

.right ul li a:active {
    color: #fff;
    background-color: #1414ee;
    border-radius: 3px;
}