* {
    box-sizing: border-box;  
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mukta Malar', sans-serif;
/* width: 100%;
height: 100%; */
/* background: linear-gradient(to bottom right,  #b9eed1, #61ebc1, #17eb88, #00b661); */
/* background: linear-gradient(to bottom right,  #f19e9e, #f86f6f, #f13737, #f70707); */
line-height: 1.5;
}

p {
    font-size: 25px;    
    margin: 30px;
    padding: 10px;
}

section:nth-child(even) {
    background: linear-gradient(to bottom right,  #b9eed1, #61ebc1, #17eb88, #00b661);
}

section:nth-child(odd) {
    background: #fff
}
/* Header Section */
/* header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #868282;
    padding: 0 6% 0 3%;
} */

/* header h1 {
    
    font-size: 50px;
    background-color: #fa3b01;
    color: #fff ;
    border-radius: 3px;
    margin: 12px 0;
    text-align: left;
} */

/* nav {
    display: flex;
    align-items: center;  
    flex-wrap: wrap;  
    
} */

/* nav  li {
    display: inline;
    border-bottom: 5px solid #fa3b01;
    border-spacing: 100px 0;
    padding-bottom: 6px;
    
} */

/* .rounded {
    background-color: #aaa5a5;
    border-radius: 100%;
} */

/* nav a {
    padding: 13px;
    text-decoration: none;
    color: #000;
    font-size: 50px;
    
}

nav a:hover {
    color: #fff;
    background-color: #fa3b01;
    border-radius: 3px;
    
} */

#tab-1:hover {
    background-color: #cc0909;
    color: #fff;
    transition: 0.5s background-color linear;
}

#tab-2:hover {
    background-color: #1b40e4;
    color: #fff;
    transition: 0.5s background-color linear;
}

#tab-3:hover {
    background-color: #e2d40d;
    color: #fff;
    transition: 0.5s background-color linear;
}

#tab-4:hover {
    background-color: #09a110;
    color: #fff;
    transition: 0.5s background-color linear;
}

/* nav a:active {
    color: #fa3b01;
    background-color: #fff;
    border-radius: 3px;
    
} */


/* Hero Section */



/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.fade {
    animation: fadeIn 3s forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
  

/* About Me Section */

/* .centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */

  .icons {
    display: inline-flex;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    padding: 10px;
    margin: 10px;
    color: #000;
    font-size: 3rem;
  }

  .skill-icons {
    font-size: 2rem;
  }

  /* .icon-linkedin {
    color: #000;
    font-size: 2rem;
  } */
  
.profile img {
    width: 177px;
    height: 206px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
} 

.container h2 {
    width: 20%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    align-self: center;
    font-size: 50px;
    color: #000;   
}

.right {
    display: flex;
    width: 70%;
    padding: 20px;
    margin: 10px;
    border-left: 5px solid black
}


/* Work Section */

.image-container {
    position: relative;
  }
  
  .image-container img {
    transition: opacity 0.3s ease-in-out;
  }
  
  .image-container:hover img {
    opacity: 0.5;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .image-container:hover .text-overlay {
    opacity: 1;
  }
  
  .text-overlay p {
    color: #1f1f1f;
    font-size: 16px;
  }
  

.content {
    flex: 5;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.box {
    border-style: solid;
    border-radius: 15px;
    flex: 0 0 300px;
    border-width: 1px;
    padding: 10px;
    margin: 20px;
    box-shadow: 10px 10px 5px #1414ee;
}

.box h3 {
    border-radius: 33px 33px 0px 0px;
    padding: 20px;
    background-color: #868282;
    
}

.box a img {
    width: 100%;
    height: 100%;
}

/* Contact Me Section */
.right ul {
    list-style-type: none;
    align-self: center;
}

.right ul li a {
    color: #000;
    text-decoration: none;
    border-bottom: 5px solid #1414ee;
    font-size: 27px;
}

.right ul li a:hover {
    color: #fa3b01;
    background-color: #fff;
    border-radius: 3px;
}

.right ul li a:active {
    color: #fff;
    background-color: #1414ee;
    border-radius: 3px;
}

.hide {
        display: none;
    }